body {
  background-image: url("http://wallpapercave.com/wp/nnifQOA.jpg");
  background-size: 100%;
  -webkit-text-fill-color: ghostwhite;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  background-attachment: fixed;
  font-family: Palatino Linotype;
}

.box {
  background: url(../images/boxBottom.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll left bottom;
  background-position: left bottom;
  margin-bottom: 10px;
  padding: 5% 0 2%;
  width: 550px;
}
