body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/d5/aa/57/d5aa5784a2a613ef3be8eeb165dc84cd.jpg");
  background-image: cover;
<<<<<<< HEAD
  -webkit-text-fill-color: ghostwhite;
=======
  background-image--webkit-text-fill-color: ghostwhite;
>>>>>>> 023392a6b440f78e87fe08825e287e0d06298c46
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  background-attachment: fixed;
  font-family: Palatino Linotype;
}
